.email-test {
  margin: 20px;
  .text-error {
    color: rgb(199, 0, 0);
  }
  .form-group {
    display: flex;
  }
  .form-label {
    min-width: 140px;
  }
  .form-control {
    &.formNoRetry {
      width: 40px;
    }
  }
  .btn {
    margin-top: 20px;
  }
}
