.gyle-management {
  margin: 20px;
  .text-error {
    color: rgb(199, 0, 0);
  }
  .form-group.date-time {
    input.form-control {
      width: 19ch; // "YYYY-MM-DD hh:mm" = 16 characters. Plus a few extra for padding.
      float: left;
      font-family: monospace;
    }
    button {
      float: left;
      margin-left: 4ch;
    }
    .form-text {
      clear: both;
      max-width: 80ch;
    }
  }

  // Standard placeholder colour isn't much lighter than our input text colour. Lighten a tad.
  // TODO: Move to site wide SCSS file.
  ::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #b7b7b7;
    opacity: 1; /* Firefox */
  }
  ::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #b7b7b7;
  }
  :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #b7b7b7;
  }
  ::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #b7b7b7;
  }
}
