body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

/* ----------------------------- */

/* html,
body {
  background-image: url(background-tile.jpg);
  background-repeat: repeat;
} */

/* body {
  background-color: red;
}
@media screen and (max-width: 992px) {
  body {
    background-color: green;
  }
}
@media screen and (max-width: 600px) {
  body {
    background-color: blue;
  }
} */

/* body {
  background-color: green;
}
@media (orientation: landscape) {
  body {
    background-color: red;
  }
} */

h3,
h2,
h1 {
  color: #444;
}

.navbar-light .navbar-brand {
  color: #da4526;
  padding-bottom: 0.425rem;
}
.navbar-light .navbar-brand > img {
  width: 25px;
  height: 25px;
  margin: 3px 4px 0 0;
}

/* .home {
  height: 360px;
  background-color: yellow;
}
.home .v-center {
  display: flex;
  align-items: center;
}

.home .chamber-card {
  background-color: aquamarine;
  float: left;
  width: 100%;
}
/* Clear floats after the columns */
.home .chamber-cards:after {
  content: '';
  display: table;
  clear: both;
}
/* @media (orientation: landscape) {
  .home .chamber-card {
    width: 50%;
  }
}
.home .chamber-card .inner {
  background-color: #da4526;
  width: 200px;
  height: 200px;
} */

.bg-yellow {
  background-color: yellow;
}
.bg-pink {
  background-color: pink;
}
.card1 {
  width: 200px;
  height: 200px;
  background-color: green;
  margin: 10px auto 50px;
}
.card2 {
  width: 200px;
  height: 200px;
  background-color: green;
  margin: 10px auto 20px;
}
